/*
Color Palette
Primary:        #FFFFFF
Secondary:      #F5F5F5
Inactive:       #969696
Text:           #DBDBDB
Footer:         #111111
Social Media:   #7E7E7E

Primary Text:   Helvetica Neue
Secondary text: Oswald (at least until I can get font-stretch working...
Tetriary Text:  Carrois Gothic SC
*/



/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */



body {
    overflow-x: hidden;
    margin: 0;
}

.flex-wrap {
    display: flex;
    flex-direction: column;
}

.nav-top {
    height: 40px;
    width: 100vw;
    display: flex;
    z-index: 9;
    background: white;
    position: relative;
}

.nav-top:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    z-index: 10;
}

.nav-top ul {
    background: #FFFFFF;
    list-style: none;
    display: flex;
}

.nav-top-left, .nav-top-right {
    flex: 1;
    z-index: 9;
    background: white;
}

.nav-top-left ul {
    display: flex;
    align-items: center;
    height: 10px;
    margin-left: -32px;
}

.nav-top-left .li-box {
    height: 30px;
    width: auto;
    padding: 5px 0;
    border-right: 1px solid #E5E5E5;
}

.nav-top-left li {
    margin-top: 0px;
    padding: 5px 25px;
}

.li-box {
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}
  
.li-box:hover {
    opacity: 1;
}

.nav-top-left #nikeplus {
    font-family: "Helvetica";
    font-size: 0.8rem;
    margin-top: 4px;
}

.nav-top-left #jordan {
    width: 20px;
    height: auto;
}

.nav-top-left #hurley {
    width: 62.5px;
    height: auto;
    margin-top: -20px;
}

.nav-top-left #converse {
    width: 80px;
    height: auto;
    margin-top: 6px;
}

.nav-top-right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    margin-right: 10px;
}

.nav-top-right .li-box {
    height: 30px;
    width: auto;
    padding: 5px 0;
}

.nav-top-right li {
    font-family: "Helvetica";
    font-size: 0.75rem;
    margin-top: 4px;
    padding: 5px 15px;
}

.li-box li i {
    font-size: 1rem;
    margin-top: -4px;
}

.nav-bottom {
    height: 100px;
    width: 100vw;
    display: flex;
    background: white;
}

.nav-bottom-left, 
.nav-bottom-center, 
.nav-bottom-right {
    height: 75px;
    flex: 1;
    border-bottom: 1px solid #E5E5E5;
    z-index: 9;
    background: white;
}

.nav-bottom-center {
    flex: 2;
    align-content: center;
    position: relative;
}

.nav-bottom-left img {
    margin-left: 15px;
    width: 75px;
    height: auto;
}

.nav-bottom-center ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: 'Carrois Gothic SC';
    font-size: 0.90rem;
    font-weight: 1000;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.nav-bottom-center li {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.nav-bottom-right button {
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    color: #373737;
    background: #FFFFFF;
}

.nav-bottom-right button:focus {
    outline:none;
}

.nav-bottom-right input {
    width: 150px;
    border: none;
    font-family: "Helvetica";
    font-size: 0.85rem;
    color: #7E7E7E;
    background: #FFFFFF;
}

.nav-bottom-right input:focus {
    outline:none;
}

.search-box {
    display: flex;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 1px
}

.absolute-dropdown {
    position: absolute;
    left: 0;
    top: 115px;
    width: 100vw;
    z-index: 1;
    background: white;
    transform: translatey(-130%);
    transition: 0.2s;
    display: flex;
    justify-content: center;
}

.absolute-dropdown ul {
    list-style: none;
    padding: 0px 64px 0px 64px;
}

.absolute-dropdown li {
    padding-bottom: 16px;
}

.dropdown-style-1 {
    font-family: 'Carrois Gothic SC';
    font-size: 0.90rem;
    font-weight: 1000;
}

.dropdown-style-2 {
    font-family: 'Helvetica';
    font-size: 0.90rem;
}

.absolute-dropdown.expand {
    transform: translatey(0);
}

.collapse-trigger {
    position: absolute;
    left: 0;
    top: 115px;
    width: 100vw;
    height: 648px;
    z-index: 10;
    opacity: 0;
}

.advertisement {
    text-align: center;
    background-color: #F5F5F5;
    width: 100vw;
    padding-top: 0px;
    margin-top: -40px;
    margin-left: -10px;
    font-family: "Helvetica";
}

#deal {
    padding-top: 10px;
    font-size: 0.90rem;
}

#hyperlink {
    margin-top: -10px;
    padding-bottom: 10px;
    font-size: 0.75rem;
    text-decoration: underline;
    border-bottom: 1px solid #E5E5E5;
}

.geo-shoes {
    display: flex;
    justify-content: center;
    margin-top: -12px;
}

.geo-shoes img {
    width: 46.75vw;
    height: auto;
}

.geo-shoes .img-blurb {
    position: absolute;
    top: 200px;
    left: 120px;
    color: #FFFFFF;
}

.geo-shoes .img-blurb p {
    font-family: "Helvetica";
}

.geo-shoes .img-blurb h1 {
    font-family: "Oswald";
    margin-top: -15px;
    margin-bottom: 10px;
    letter-spacing: -3px;
    font-weight: 1000;
    font-size: 4rem;
}

.geo-shoes .img-blurb button {
    font: 1rem "Helvetica";
    height: 40px;
    width: 90px;
    background: #FFFFFF;
    border: none;
    border-radius: 40px;
}

.geo-shoes-right #model-name {
    position: absolute;
    font: 1rem "Helvetica";
    color: #FFFFFF;
    top: 775px;
    right: 125px;
}

.bw-collage {
    position: relative;
    top: 64px;
    display: flex;
    flex-direction: column;
}


.popup {
    width: 80%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-100%);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.popup button {
    float: right;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    color: #373737;
    background-color: transparent;
}

.popup iframe {
    height: 100%;
    width: 100%;
}

.popup.open {
    opacity: 1;
    transform: translatex(-50%) translateY(-50%);
}

.bw-collage h3 {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

.bw-collage img {
    width: 93.50vw;
    height: auto;
    align-self: center;
}

.bw-collage .img-blurb {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.bw-collage .img-blurb h1 {
    font: 3.5rem "Oswald";
    font-weight: 1000;
}

.bw-collage .img-blurb p {
    font: 1rem "Helvetica";
    position: relative;
    top: -48px;
}

.bw-collage .btn-row button {
    font: 1rem "Helvetica";
    border: 1px solid #373737;
    border-radius: 40px;
}

.btn-row {
    position: relative;
    top: -50px;
}

#shop-btn {
    height: 40px;
    width: 90px;
    background: #FFFFFF;
    color: #373737;
}

#watch-btn {
    height: 40px;
    width: 110px;
    background: #FFFFFF;
    color: #373737;
}

#watch-btn i {
    font-size: 0.8rem;
}

.featured {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
}

.featured h3 {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

/* tweak scrollbar later at: https://forum.webflow.com/t/custom-css-horizontal-scrollbar/45599 */
.featured .img-scroll {
    width: 93.50vw;
    justify-self: center;
    align-self: center;
}

.img-scroll img {
    margin-right: 15px;
    width: 33vw;
}

.trending-wrap {
    position: relative;
    top: 50px;
}

#trending-head {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

.trending {
    justify-self: center;
    align-self: center;
}

.trending-imgs {
    display: flex;
    width: 93vw;
    justify-content: space-between;
}

.trending-img img {
    width: 45vw;
}

.trending-img .img-blurb {
    position: relative;
    top: -164px;
    left: 64px;
}

.trending-img .img-blurb h3 {
    font: 1.5rem "helvetica";
    color: #FFFFFF;
}

.trending-img .img-blurb button {
    font: 1rem "Helvetica";
    height: 40px;
    width: 90px;
    border-radius: 40px;
    border: none;
    background: #FFFFFF;
    color: #373737;
}

#bestseller-head {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

.bestseller {
    justify-self: center;
    align-self: center;
}

.bestseller-imgs {
    display: flex;
    width: 93vw;
    justify-content: space-between;
}

.bestseller-imgs img {
    width: 30vw;
    height: auto;
}

.bestseller-imgs h5 {
    font: 1rem 'Helvetica';
    position: relative; 
    top: -16px;
}

.selection {
    position: relative;
    top: 12px;
    margin-bottom: -286px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    font: 1rem "Helvetica";
    transition: margin-bottom 300ms 0.3s;
}
.selection:hover {
    margin-bottom: 0px;
}

.selection-col {
    padding: 0px 64px 0px 64px;
    width: 196px;
}

.selection-col p {
    margin-bottom: 32px;
}

.selection-col ul {
    list-style: none;
    position: relative;
    left: -38px;
}

.selection-col ul li {
    width: 196px;
    margin-bottom: 32px;
    opacity: 0.5;
}

.hidden-list-items.hide {
    /* Note to self: try using smoke and mirrors instead of display none*/
    /* In fact, I should reserve the display for when I want to try drop down menus*/
    /* display: none; */
    transition: opacity 300ms;
    opacity: 0;
}

.selection-col ul li:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 24px;
    margin-bottom: -132px;
    background: #111111;
}

footer .footer-top {
    width: 80vw;
    position: relative;
    top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-around;
}

.footer-list-1 ul, .footer-list-2 ul, .footer-list-3 ul {
    list-style: none;
}

.footer-list-1 li, .footer-list-2 li, .footer-list-3 li {
    padding-bottom: 12px;
}

.footer-list-1, .footer-list-2 p, .footer-list-3 p {
    font: 0.8rem 'Carrois Gothic SC';
    font-weight: 800;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.footer-list-2 li:hover, .footer-list-3 li:hover {
    color: #F5F5F5;
}

.footer-list-2 ul, .footer-list-3 ul {
    position: relative;
    left: -40px;
    font: 0.8rem "Helvetica";
    color: #7E7E7E;
}

.footer-icons {
    position: relative;
    display: flex;
}

.icon-wrap {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background: #7E7E7E;
    margin-left: 9px;
}

.icon-wrap:hover {
    background: #F5F5F5;
}

.footer-icons i {
    position: relative;
    top: 3px;
    left: 5px;
    color: #111111;
}

.footer-icons .fa-facebook-f {
    position: relative;
    top: 3px;
    left: 7px;
}

.footer-bottom {
    width: 70vw;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    font: 0.6rem "Helvetica";
    color: #7E7E7E;
    background: #111111;
    border-top: 1px solid #222222;
}

.footer-bottom-right {
    display: flex;
}

.footer-bottom-right p {
    margin-right: 32px;
}