/*
Color Palette
Primary:        #FFFFFF
Secondary:      #F5F5F5
Inactive:       #969696
Text:           #DBDBDB
Footer:         #111111
Social Media:   #7E7E7E

Primary Text:   Helvetica Neue
Secondary text: Oswald (at least until I can get font-stretch working...
Tetriary Text:  Carrois Gothic SC
*/

body {
    overflow-x: hidden;
    margin: 0;
}

.flex-wrap {
    display: flex;
    flex-direction: column;
}

.nav-top {
    margin-left: -10px;
    height: 40px;
    width: 100vw;
    display: flex;
}

.nav-top ul {
    background: #FFFFFF;
    list-style: none;
    display: flex;
}

.nav-top-left, .nav-top-right {
    height: 40px;
    flex: 1;
    border-bottom: 1px solid #E5E5E5;
}

.nav-top-left ul {
    display: flex;
    align-items: center;
    height: 10px;
    margin-left: -32px;
}

.nav-top-left .li-box {
    height: 30px;
    width: auto;
    padding: 5px 0;
    border-right: 1px solid #E5E5E5;
}

.nav-top-left li {
    margin-top: 0px;
    padding: 5px 25px;
}

.li-box {
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}
  
.li-box:hover {
    opacity: 1;
}

.nav-top-left #nikeplus {
    font-family: "Helvetica";
    font-size: 0.8rem;
    margin-top: 4px;
}

.nav-top-left #jordan {
    width: 20px;
    height: auto;
}

.nav-top-left #hurley {
    width: 62.5px;
    height: auto;
    margin-top: -20px;
}

.nav-top-left #converse {
    width: 80px;
    height: auto;
    margin-top: 6px;
}

.nav-top-right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    margin-right: 10px;
}

.nav-top-right .li-box {
    height: 30px;
    width: auto;
    padding: 5px 0;
}

.nav-top-right li {
    font-family: "Helvetica";
    font-size: 0.75rem;
    margin-top: 4px;
    padding: 5px 15px;
}

.li-box li i {
    font-size: 1rem;
    margin-top: -4px;
}

.nav-bottom {
    height: 100px;
    width: 100vw;
    display: flex;
}

.nav-bottom-left, 
.nav-bottom-center, 
.nav-bottom-right {
    height: 75px;
    flex: 1;
    border-bottom: 1px solid #E5E5E5;
}

.nav-bottom-center {
    flex: 2;
    align-content: center;
}

.nav-bottom-left img {
    margin-left: 15px;
    width: 75px;
    height: auto;
}

.nav-bottom-center ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25px;
    list-style: none;
    font-family: 'Carrois Gothic SC';
    font-size: 0.90rem;
    font-weight: 800;
    padding: 0;
}

.nav-bottom-center li {
    padding-left: 35px;
}

.nav-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.nav-bottom-right button {
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    color: #373737;
    background: #FFFFFF;
}

.nav-bottom-right button:focus {
    outline:none;
}

.nav-bottom-right input {
    width: 150px;
    border: none;
    font-family: "Helvetica";
    font-size: 0.85rem;
    color: #7E7E7E;
    background: #FFFFFF;
}

.nav-bottom-right input:focus {
    outline:none;
}

.search-box {
    display: flex;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 1px
}

.advertisement {
    text-align: center;
    background-color: #F5F5F5;
    width: 100vw;
    padding-top: 0px;
    margin-top: -40px;
    margin-left: -10px;
    font-family: "Helvetica";
}

#deal {
    padding-top: 10px;
    font-size: 0.90rem;
}

#hyperlink {
    margin-top: -10px;
    padding-bottom: 10px;
    font-size: 0.75rem;
    text-decoration: underline;
    border-bottom: 1px solid #E5E5E5;
}

.geo-shoes {
    display: flex;
    justify-content: center;
    margin-top: -12px;
}

.geo-shoes img {
    width: 46.75vw;
    height: auto;
}

.geo-shoes .img-blurb {
    position: absolute;
    top: 200px;
    left: 120px;
    color: #FFFFFF;
}

.geo-shoes .img-blurb p {
    font-family: "Helvetica";
}

.geo-shoes .img-blurb h1 {
    font-family: "Oswald";
    margin-top: -15px;
    margin-bottom: 10px;
    font-stretch: 50%;
    font-weight: 1000;
    font-size: 4rem;
}

.geo-shoes .img-blurb button {
    font: 1rem "Helvetica";
    height: 40px;
    width: 90px;
    background: #FFFFFF;
    border: none;
    border-radius: 40px;
}

.geo-shoes-right #model-name {
    position: absolute;
    font: 1rem "Helvetica";
    color: #FFFFFF;
    top: 775px;
    right: 125px;
}

.bw-collage {
    position: relative;
    top: 64px;
    display: flex;
    flex-direction: column;
}

.bw-collage h3 {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

.bw-collage img {
    width: 93.50vw;
    height: auto;
    align-self: center;
}

.bw-collage .img-blurb {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.bw-collage .img-blurb h1 {
    font: 3.5rem "Oswald";
    font-weight: 1000;
}

.bw-collage .img-blurb p {
    font: 1rem "Helvetica";
    position: relative;
    top: -48px;
}

.bw-collage .btn-row button {
    font: 1rem "Helvetica";
    border: 1px solid #373737;
    border-radius: 40px;
}

.btn-row {
    position: relative;
    top: -50px;
}

#shop-btn {
    height: 40px;
    width: 90px;
    background: #FFFFFF;
    color: #373737;
}

#watch-btn {
    height: 40px;
    width: 110px;
    background: #FFFFFF;
    color: #373737;
}

#watch-btn i {
    font-size: 0.8rem;
}

.featured {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
}

.featured h3 {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

/* tweak scrollbar later at: https://forum.webflow.com/t/custom-css-horizontal-scrollbar/45599 */
.featured .img-scroll {
    width: 93.50vw;
    justify-self: center;
    align-self: center;
    margin-left: -15px;
    display: flex;
    overflow-x: auto;
}

.img-scroll img {
    margin-left: 15px;
}

.trending-wrap {
    position: relative;
    top: 50px;
}

#trending-head {
    font: 1.5rem "Helvetica";
    font-weight: 500;
    position: relative;
    left: 50px;
}

.trending {
    justify-self: center;
    align-self: center;
}

.trending-imgs {
    align-self: center;
    justify-self: center;
    display: flex;
    width: 93vw;
    justify-content: space-between;
}

.trending-img img {
    width: 45vw;
}

.trending-img .img-blurb {
    position: relative;
    top: -164px;
    left: 64px;
}

.trending-img .img-blurb h3 {
    font: 1.5rem "helvetica";
    color: #FFFFFF;
}

.trending-img .img-blurb button {
    font: 1rem "Helvetica";
    height: 40px;
    width: 90px;
    border-radius: 40px;
    border: none;
    background: #FFFFFF;
    color: #373737;
}
